<div class="content container">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">ISEB Foundation Certificate in Software Testing </h1>
            <div class="breadcrumbs pull-right">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-label">You are here:</li>
                    <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
                    <li><a href="courses.html">Course</a><i class="fa fa-angle-right"></i></li>
                    <li class="current">ISEB Foundation Certificate in Software Testing </li>
                </ul>
            </div><!--//breadcrumbs-->
        </header>
        <div class="page-content">
            <div class="row page-row">
                <div class="course-wrapper col-md-8 col-sm-7">
                    <article class="course-item">
                        <p class="featured-image page-row"><img class="img-responsive" src="assets/images/courses/course-1.jpg" alt=""/></p>
                        <div class="page-row box box-border">
                            <ul class="list-unstyled no-margin-bottom">
                                <li><strong>Start date:</strong> <em>2017</em></li>
                                <li><strong>Duration: </strong> <em>4 days</em></li>
                                <li><strong>Level: </strong> <em>Beginner</em></li>
                                <li><strong>Location: </strong> <em>Cross Recruit,Suite 30B 23 Wharf Street,SE8 3GG, UK</em></li>
                            </ul>
                        </div><!--//page-row-->
                        <div class="page-row">
                            <p>Delegates should have a basic working knowledge of IT and an understanding of the testing role in software development. Please bring your own laptop to course.</p>

                            <p>The Foundation Level qualification is aimed at anyone involved in software testing or would like to start a career in Testing. This includes people in roles such as testers, test analysts, test engineers, test consultants, test managers, user acceptance testers and software developers.
                                This Foundation Level qualification is also appropriate for anyone who wants a basic understanding of software testing, such as project managers, quality managers, software development managers, business analysts, IT directors and management consultants.
                                Holders of the Foundation Certificate will be able to go on to the higher level software testing qualification, the Practitioner Certificate.
                            </p>

                            <p>The objectives of this course are:
                                •	To prepare candidates for the testing working environment;
                                •	To improve understanding of software testing – its purpose and nature – and to raise awareness of issues and constraints around testing;
                                •	To provide a confidence in implementing industry standard test frameworks;
                                •	To introduce test techniques (static, white box and black box)  to delegates as well as providing practical experience of some key techniques;
                                •	To learn about Business Driven Development (BDD) and Test Driven Development and how testing fits in.
                                •	To learn standard terminology;
                                •	To provide a complete picture of the test activities and processes from requirements review to system implementation; and
                                •	To discover good sources of information.
                                The objectives for the qualification are in the ISTQB syllabus and include:
                                •	Enabling software suppliers to hire certified testers and thereby gains commercial advantage over their competitors by advertising their tester recruitment policy.
                                •	Enabling comparison of testing skills across different countries, testers to move across country borders more easily and multinational/ international projects to have a common understanding of testing issues.
                            </p>
                        </div><!--//page-row-->
                        <div class="tabbed-info page-row">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1" data-toggle="tab">Course structure</a></li>
                                <li><a href="#tab2" data-toggle="tab">Fees</a></li>
                                <li><a href="#tab3" data-toggle="tab">Entry requirements</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <ul>
                                        <li>Instructor Led – Face2Face</li>
                                        <li>More interaction with student to faculty and student to student</li>
                                        <li>Detailed presentations. Soft copy of Material to refer any time</li>
                                        <li>Practical oriented / Job oriented Training. Practice on Software Tools</li>
                                        <li>Mock interviews / group discussions / interview related questions</li>
                                        <li>Test Lab is in Cloud Technology – to practice on software tools if needed</li>
                                        <li>The teaching methods / tools / topics we chosen are based on the current competitive job market</li>
                                    </ul>
                                    <!--<div class="table-responsive">-->
                                        <!--<table class="table table-striped">-->
                                            <!--<thead>-->
                                            <!--<tr>-->
                                                <!--<th>Nullam consequat</th>-->
                                                <!--<th>Commodo metus</th>-->
                                                <!--<th>Dapibus porta</th>-->
                                                <!--<th>Sed porta</th>-->
                                            <!--</tr>-->
                                            <!--</thead>-->
                                            <!--<tbody>-->
                                            <!--<tr>-->
                                                <!--<td>Faucibus purus convallis</td>-->
                                                <!--<td>Aliquam sit amet</td>-->
                                                <!--<td>Sed porta leo</td>-->
                                                <!--<td>Duis ut ornare dui</td>-->
                                            <!--</tr>-->
                                            <!--<tr>-->
                                                <!--<td>Condimentum fermentum</td>-->
                                                <!--<td>Curabitur tempus mauris</td>-->
                                                <!--<td>Fusce vehicula malesuada</td>-->
                                                <!--<td>Nascetur ridiculus</td>-->
                                            <!--</tr>-->
                                            <!--<tr>-->
                                                <!--<td>Neque a condimentum</td>-->
                                                <!--<td>Cum sociis natoque</td>-->
                                                <!--<td>Penatibus magnis</td>-->
                                                <!--<td>Curabitur tempus mauris</td>-->
                                            <!--</tr>-->
                                            <!--</tbody>-->
                                        <!--</table>-->
                                    <!--</div>&lt;!&ndash;//table-responsive&ndash;&gt;-->
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <p>Donec suscipit rhoncus est, vitae pretium purus laoreet et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed iaculis risus felis, sit amet porta urna volutpat vel. Integer vestibulum, neque a condimentum fermentum, est nunc tincidunt nunc, eget sagittis turpis elit nec arcu. Curabitur tempus mauris vitae dignissim vehicula. Fusce vehicula malesuada aliquam.</p>
                                    <ul>
                                        <li><a href="#">Vitae pretium purus</a></li>
                                        <li><a href="#">Eget sagittis turpis </a></li>
                                        <li><a href="#">Curabitur tempus</a></li>
                                        <li><a href="#">Fusce vehicula</a></li>
                                    </ul>
                                </div>
                                <div class="tab-pane" id="tab3">
                                    <p>Mauris blandit in massa in rhoncus. Aliquam sit amet sollicitudin nulla. Ut nec mauris facilisis, pretium enim et, tristique risus. Fusce a ligula in velit congue hendrerit eu eget tortor.</p>
                                    <ol>
                                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                        <li>Aliquam tincidunt mauris eu risus.</li>
                                        <li>Vestibulum auctor dapibus neque.</li>
                                    </ol>
                                </div>
                            </div>
                        </div><!--//tabbed-info-->
                    </article><!--//course-item-->
                </div><!--//course-wrapper-->
                <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
                    <section class="widget has-divider">
                        <h3 class="title">Why Cross Recruit</h3>
                        <p>Donec pulvinar arcu lacus, vel aliquam libero scelerisque a. Cras mi tellus, vulputate eu eleifend at, consectetur fringilla lacus. Nulla ut purus.</p>
                        <a class="btn btn-theme" href="#"><i class="fa fa-download"></i>Download prospectus</a>
                    </section><!--//widget-->
                    <section class="widget has-divider">
                        <h3 class="title">Enquire about this course</h3>
                        <!--<p>Donec pulvinar arcu lacus, vel aliquam libero scelerisque a. Cras mi tellus, vulputate eu eleifend at, consectetur fringilla lacus. Nulla ut purus.</p>-->
                        <p class="tel"><i class="fa fa-phone"></i>Tel: 0203 637 4333</p>
                        <p class="email"><i class="fa fa-envelope"></i>Email: <a href="#">enquires@crossrecruit.com</a></p>
                    </section><!--//widget-->
                    <!--<section class="widget has-divider">-->
                        <!--<h3 class="title">Related courses</h3>-->
                        <!--<ul class="list-unstyled">-->
                            <!--<li><a href="#"><i class="fa fa-book"></i> Ut enim ad minim veniam</a></li>-->
                            <!--<li><a href="#"><i class="fa fa-book"></i> Lorem ipsum dolor sit amet</a></li>-->
                            <!--<li><a href="#"><i class="fa fa-book"></i> Cras et sapien rhoncus</a></li>-->
                            <!--<li><a href="#"><i class="fa fa-book"></i> Praesent ut turpis feugiat</a></li>-->
                            <!--<li><a href="#"><i class="fa fa-book"></i> Aenean interdum iaculis odio</a></li>-->
                            <!--<li><a href="#"><i class="fa fa-book"></i> Morbi in malesuada nibh</a></li>-->
                            <!--<li><a href="#"><i class="fa fa-book"></i> Fusce a ligula in velit</a></li>-->
                        <!--</ul>-->
                    <!--</section>&lt;!&ndash;//widget&ndash;&gt;-->
                    <section class="widget has-divider">
                        <h3 class="title">Apply Online</h3>
                        <p>Donec pulvinar arcu lacus, vel aliquam libero scelerisque a. Cras mi tellus, vulputate eu eleifend at, consectetur fringilla lacus. Nulla ut purus.</p>
                        <p class="promo-badge">
                            <a class="OliveDrab" href="#">
                                <span class="percentage">20% <span class="off">OFF</span></span>
                                <br>
                                <span class="desc">Online application</span>
                            </a>
                        </p>
                    </section><!--//widget-->
                </aside>
            </div><!--//page-row-->
        </div><!--//page-content-->
    </div><!--//page-->
</div><!--//content-->
