<div class="content container">
    <div id="promo-slider" class="slider flexslider">
        <ul class="slides">
            <li>
                <img src="assets/images/slides/slide-1.jpg"  alt="" />
                <p class="flex-caption">
                    <span class="main" >Join Cross Recruit</span>
                    <br />
                    <span class="secondary clearfix" >Get ISEB Testing Certified</span>
                </p>
            </li>
            <li>
                <img src="assets/images/slides/slide-2.jpg"  alt="" />
                <p class="flex-caption">
                    <span class="main" >Join Cross Recruit</span>
                    <br />
                    <span class="secondary clearfix" >Get ISEB Testing Certified</span>
                </p>
            </li>
            <li>
                <img src="assets/images/slides/slide-3.jpg"  alt="" />
                <p class="flex-caption">
                    <span class="main" >Join Cross Recruit</span>
                    <br />
                    <span class="secondary clearfix" >Get ISEB Testing Certified</span>
                </p>
            </li>
            <li>
                <img src="assets/images/slides/slide-4.jpg"  alt="" />
                <p class="flex-caption">
                    <span class="main" >Join Cross Recruit</span>
                    <br />
                    <span class="secondary clearfix" >Get ISEB Testing Certified</span>
                </p>
            </li>
        </ul><!--//slides-->
    </div><!--//flexslider-->
    <section class="promo box box-dark">
        <div class="col-md-9">
            <h1 class="section-heading">Cross Recruit</h1>
            <p>Our trainers are experienced Test consultants with real time project experience. They will not only take you through the syllabus but will give you an insight into the ever growing test industry. In addition to that our recruitment experts will help update your CV and give you invaluable advice on how to get your first assignment and kick-start your Testing career. We specialise in working with small groups so that we can give each learner the individualised consideration necessary to make their learning experience a pleasurable one. We will be there through each step of your journey; as we provide the opportunity to get you certified at our premises on the last day of the course </p>
        </div>
        <!--<div class="col-md-3">-->
        <!--<a class="btn btn-cta" href="#"><i class="fa fa-play-circle"></i>Apply Now</a>-->
        <!--</div>-->
    </section><!--//promo-->
    <section class="news">
        <h1 class="section-heading text-highlight"><span class="line">Latest News</span></h1>
        <div class="carousel-controls">
            <a class="prev" href="#news-carousel" data-slide="prev"><i class="fa fa-caret-left"></i></a>
            <a class="next" href="#news-carousel" data-slide="next"><i class="fa fa-caret-right"></i></a>
        </div><!--//carousel-controls-->
        <div class="section-content clearfix">
            <div id="news-carousel" class="news-carousel carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-md-4 news-item">
                            <!--<h2 class="title"><a href="news_single.html">Glossary of Testing Terms</a></h2>-->
                            <h2 class="title"><a href="http://reqtest.com/blog/glossary-of-testing-terms/">Glossary of Testing Terms</a></h2>
                            <img class="thumb" src="assets/images/news/news-thumb-1.jpg"  alt="" />
                            <p>The glossary is meant to help you get familiar with words and phrases commonly used in testing and requirements work. You can use the glossary as the basis for introducing these terms into your organization or standardizing their use.</p>
                            <!--<a class="read-more" href="news_single.html">Read more<i class="fa fa-chevron-right"></i></a>-->
                            <a class="read-more" href="http://reqtest.com/blog/glossary-of-testing-terms/">Read more<i class="fa fa-chevron-right"></i></a>
                        </div><!--//news-item-->
                        <div class="col-md-4 news-item">
                            <!--<h2 class="title"><a href="news_single.html">Morbi at vestibulum turpis</a></h2>-->
                            <h2 class="title"><a href="http://reqtest.com/testing-blog/beginners-guide-to-manual-testing/">Beginners Guide to Manual Testing</a></h2>
                            <p>In this article, we will start with the basic concept of manual testing. We will also discuss the stages of manual testing for any software product. Then, we will briefly discuss the methodologies of software testing i.e. black box, white box and grey box.</p>
                            <a class="read-more" href="http://reqtest.com/testing-blog/beginners-guide-to-manual-testing/">Read more<i class="fa fa-chevron-right"></i></a>
                            <img class="thumb" src="assets/images/news/news-thumb-2.jpg"  alt="" />
                        </div><!--//news-item-->
                        <div class="col-md-4 news-item">
                            <!--<h2 class="title"><a href="news-single.html">Phasellus scelerisque metus</a></h2>-->
                            <h2 class="title"><a href="http://reqtest.com/testing-blog/testing-interview-questions/">Testing Interview Questions</a></h2>
                            <img class="thumb" src="assets/images/news/news-thumb-4.jpg"  alt="" />
                            <p>Are you going for an interview soon? You have the theoretical knowledge in your mind, yet you are wondering what else interviewers might ask?</p>
                            <a class="read-more" href="http://reqtest.com/testing-blog/testing-interview-questions/">Read more<i class="fa fa-chevron-right"></i></a>
                        </div><!--//news-item-->
                    </div><!--//item-->
                    <div class="item">
                        <div class="col-md-4 news-item">
                            <!--<h2 class="title"><a href="news_single.html">Glossary of Testing Terms</a></h2>-->
                            <h2 class="title"><a href="http://reqtest.com/blog/glossary-of-testing-terms/">Glossary of Testing Terms</a></h2>
                            <img class="thumb" src="assets/images/news/news-thumb-1.jpg"  alt="" />
                            <p>The glossary is meant to help you get familiar with words and phrases commonly used in testing and requirements work. You can use the glossary as the basis for introducing these terms into your organization or standardizing their use.</p>
                            <!--<a class="read-more" href="news_single.html">Read more<i class="fa fa-chevron-right"></i></a>-->
                            <a class="read-more" href="http://reqtest.com/blog/glossary-of-testing-terms/">Read more<i class="fa fa-chevron-right"></i></a>
                        </div><!--//news-item-->
                        <div class="col-md-4 news-item">
                            <!--<h2 class="title"><a href="news_single.html">Morbi at vestibulum turpis</a></h2>-->
                            <h2 class="title"><a href="http://reqtest.com/testing-blog/beginners-guide-to-manual-testing/">Beginners Guide to Manual Testing</a></h2>
                            <p>In this article, we will start with the basic concept of manual testing. We will also discuss the stages of manual testing for any software product. Then, we will briefly discuss the methodologies of software testing i.e. black box, white box and grey box.</p>
                            <a class="read-more" href="http://reqtest.com/testing-blog/beginners-guide-to-manual-testing/">Read more<i class="fa fa-chevron-right"></i></a>
                            <img class="thumb" src="assets/images/news/news-thumb-2.jpg"  alt="" />
                        </div><!--//news-item-->
                        <div class="col-md-4 news-item">
                            <!--<h2 class="title"><a href="news-single.html">Phasellus scelerisque metus</a></h2>-->
                            <h2 class="title"><a href="http://reqtest.com/testing-blog/testing-interview-questions/">Testing Interview Questions</a></h2>
                            <img class="thumb" src="assets/images/news/news-thumb-4.jpg"  alt="" />
                            <p>Are you going for an interview soon? You have the theoretical knowledge in your mind, yet you are wondering what else interviewers might ask?</p>
                            <a class="read-more" href="http://reqtest.com/testing-blog/testing-interview-questions/">Read more<i class="fa fa-chevron-right"></i></a>
                        </div><!--//news-item-->
                    </div><!--//item-->
                </div><!--//carousel-inner-->
            </div><!--//news-carousel-->
        </div><!--//section-content-->
    </section><!--//news-->
    <div class="row cols-wrapper">
        <div class="col-md-3">
            <section class="events">
                <h1 class="section-heading text-highlight"><span class="line">Events</span></h1>
                <div class="section-content">
                    <div class="event-item">
                        <p class="date-label">
                            <span class="month">APR</span>
                            <span class="date-number">2</span>
                        </p>
                        <div class="details">
                            <h2 class="title">Open Day</h2>
                            <p class="time"><i class="fa fa-clock-o"></i>10:00am - 16:00pm</p>
                            <p class="location"><i class="fa fa-map-marker"></i>Home Campus</p>
                        </div><!--//details-->
                    </div><!--event-item-->
                    <div class="event-item">
                        <p class="date-label">
                            <span class="month">MAY</span>
                            <span class="date-number">02</span>
                        </p>
                        <div class="details">
                            <h2 class="title">Open Day</h2>
                            <p class="time"><i class="fa fa-clock-o"></i>10:00am - 16:00pm</p>
                            <p class="location"><i class="fa fa-map-marker"></i>Home Campus</p>
                        </div><!--//details-->
                    </div><!--event-item-->
                    <div class="event-item">
                        <p class="date-label">
                            <span class="month">JUN</span>
                            <span class="date-number">2</span>
                        </p>
                        <div class="details">
                            <h2 class="title">Open Day</h2>
                            <p class="time"><i class="fa fa-clock-o"></i>10:00am - 16:00pm</p>
                            <p class="location"><i class="fa fa-map-marker"></i>Home Campus</p>
                        </div><!--//details-->
                    </div><!--event-item-->
                    <div class="event-item">
                        <p class="date-label">
                            <span class="month">JUL</span>
                            <span class="date-number">2</span>
                        </p>
                        <div class="details">
                            <h2 class="title">Open Day</h2>
                            <p class="time"><i class="fa fa-clock-o"></i>10:00am - 16:00pm</p>
                            <p class="location"><i class="fa fa-map-marker"></i>Home Campus</p>
                        </div><!--//details-->
                    </div><!--event-item-->
                    <!--<a class="read-more" href="events.html">All events<i class="fa fa-chevron-right"></i></a>-->
                </div><!--//section-content-->
            </section><!--//events-->
        </div><!--//col-md-3-->
        <div class="col-md-6">
            <!--<section class="course-finder">-->
                <!--<h1 class="section-heading text-highlight"><span class="line">Course Finder</span></h1>-->
                <!--<div class="section-content">-->
                    <!--<form class="course-finder-form" action="#" method="get">-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-5 col-sm-5 subject">-->
                                <!--<select class="form-control subject">-->
                                    <!--<option>Choose a subject area</option>-->
                                    <!--<option>ISEB Foundation Certificate in Software Testing</option>-->
                                    <!--&lt;!&ndash;<option>Accounting & Finance</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>Biological Sciences</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>Business Studies</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>Computer Science</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>Creative Arts & Media</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>Drama</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>Education</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>Engineering</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>Film Studies</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>Fitness Training</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>Hospitality</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>History</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>International Relations</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>Law</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>Mathematics</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>Music</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>Physics</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>Religion</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option>Social Science</option>&ndash;&gt;-->
                                <!--</select>-->
                            <!--</div>-->
                            <!--<div class="col-md-7 col-sm-7 keywords">-->
                                <!--<input class="form-control pull-left" type="text" placeholder="Search keywords" />-->
                                <!--<button type="submit" class="btn btn-theme"><i class="fa fa-search"></i></button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</form>&lt;!&ndash;//course-finder-form&ndash;&gt;-->
                    <!--<a class="read-more" href="courses.html">View all our courses<i class="fa fa-chevron-right"></i></a>-->
                <!--</div>&lt;!&ndash;//section-content&ndash;&gt;-->
            <!--</section>&lt;!&ndash;//course-finder&ndash;&gt;-->
            <section class="video">
                <h1 class="section-heading text-highlight"><span class="line">Video Tour</span></h1>
                <div class="carousel-controls">
                    <a class="prev" href="#videos-carousel" data-slide="prev"><i class="fa fa-caret-left"></i></a>
                    <a class="next" href="#videos-carousel" data-slide="next"><i class="fa fa-caret-right"></i></a>
                </div><!--//carousel-controls-->
                <div class="section-content">
                    <div id="videos-carousel" class="videos-carousel carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <iframe class="video-iframe" src="https://www.youtube.com/embed/GBs41JU3r30" frameborder="0" allowfullscreen=""></iframe>
                            </div><!--//item-->
                            <div class="item">
                                <iframe class="video-iframe" src="https://www.youtube.com/embed/ILkT_HV9DVU" frameborder="0" allowfullscreen=""></iframe>
                            </div><!--//item-->
                            <div class="item">
                                <iframe class="video-iframe" src="https://www.youtube.com/embed/3FTwaojNkXw" frameborder="0" allowfullscreen=""></iframe>
                            </div><!--//item-->
                        </div><!--//carousel-inner-->
                    </div><!--//videos-carousel-->
                    <p class="description">SoftwareTesting Foundation - The ISEB Exam, top tips and techniques</p>
                </div><!--//section-content-->
            </section><!--//video-->
        </div>
        <div class="col-md-3">
            <section class="links">
                <h1 class="section-heading text-highlight"><span class="line">Quick Links</span></h1>
                <div class="section-content">
                    <p><a href="#"><i class="fa fa-caret-right"></i>E-learning Portal</a></p>
                    <p><a href="#"><i class="fa fa-caret-right"></i>Gallery</a></p>
                    <p><a href="#"><i class="fa fa-caret-right"></i>Job Vacancies</a></p>
                    <p><a href="#"><i class="fa fa-caret-right"></i>Contact</a></p>
                </div><!--//section-content-->
            </section><!--//links-->
            <section class="testimonials">
                <h1 class="section-heading text-highlight"><span class="line"> Testimonials</span></h1>
                <div class="carousel-controls">
                    <a class="prev" href="#testimonials-carousel" data-slide="prev"><i class="fa fa-caret-left"></i></a>
                    <a class="next" href="#testimonials-carousel" data-slide="next"><i class="fa fa-caret-right"></i></a>
                </div><!--//carousel-controls-->
                <div class="section-content">
                    <div id="testimonials-carousel" class="testimonials-carousel carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <blockquote class="quote">
                                    <p><i class="fa fa-quote-left"></i>I’m very happy interdum eget ipsum. Nunc pulvinar ut nulla eget sollicitudin. In hac habitasse platea dictumst. Integer mattis varius ipsum, posuere posuere est porta vel. Integer metus ligula, blandit ut fermentum a, rhoncus in ligula. Duis luctus.</p>
                                </blockquote>
                                <div class="row">
                                    <p class="people col-md-8 col-sm-3 col-xs-8"><span class="name">Marissa Spencer</span><br /><span class="title">Curabitur commodo</span></p>
                                    <img class="profile col-md-4 pull-right" src="assets/images/testimonials/profile-1.png"  alt="" />
                                </div>
                            </div><!--//item-->
                            <div class="item">
                                <blockquote class="quote">
                                    <p><i class="fa fa-quote-left"></i>
                                        I'm very pleased commodo gravida ultrices. Sed massa leo, aliquet non velit eu, volutpat vulputate odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse porttitor metus eros, ut fringilla nulla auctor a.</p>
                                </blockquote>
                                <div class="row">
                                    <p class="people col-md-8 col-sm-3 col-xs-8"><span class="name">Marco Antonio</span><br /><span class="title"> Gravida ultrices</span></p>
                                    <img class="profile col-md-4 pull-right" src="assets/images/testimonials/profile-2.png"  alt="" />
                                </div>
                            </div><!--//item-->
                            <div class="item">
                                <blockquote class="quote">
                                    <p><i class="fa fa-quote-left"></i>
                                        I'm delighted commodo gravida ultrices. Sed massa leo, aliquet non velit eu, volutpat vulputate odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse porttitor metus eros, ut fringilla nulla auctor a.</p>
                                </blockquote>
                                <div class="row">
                                    <p class="people col-md-8 col-sm-3 col-xs-8"><span class="name">Kate White</span><br /><span class="title"> Gravida ultrices</span></p>
                                    <img class="profile col-md-4 pull-right" src="assets/images/testimonials/profile-3.png"  alt="" />
                                </div>
                            </div><!--//item-->

                        </div><!--//carousel-inner-->
                    </div><!--//testimonials-carousel-->
                </div><!--//section-content-->
            </section><!--//testimonials-->
        </div><!--//col-md-3-->
    </div><!--//cols-wrapper-->
    <section class="awards">
        <div id="awards-carousel" class="awards-carousel carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <ul class="logos">
                        <li class="col-md-2 col-sm-2 col-xs-4">
                            <!--<a href="#"><img class="img-responsive" src="assets/images/awards/award1.jpg"  alt="" /></a>-->
                        </li>
                        <li class="col-md-2 col-sm-2 col-xs-4">
                            <!--<a href="#"><img class="img-responsive" src="assets/images/awards/award2.jpg"  alt="" /></a>-->
                        </li>
                        <li class="col-md-2 col-sm-2 col-xs-4">
                            <!--<a href="#"><img class="img-responsive" src="assets/images/awards/award3.jpg"  alt="" /></a>-->
                        </li>
                        <li class="col-md-2 col-sm-2 col-xs-4">
                            <!--<a href="#"><img class="img-responsive" src="assets/images/awards/award4.jpg"  alt="" /></a>-->
                        </li>
                        <li class="col-md-2 col-sm-2 col-xs-4">
                            <!--<a href="#"><img class="img-responsive" src="assets/images/awards/award5.jpg"  alt="" /></a>-->
                        </li>
                        <li class="col-md-2 col-sm-2 col-xs-4">
                            <!--<a href="#"><img class="img-responsive" src="assets/images/awards/award6.jpg"  alt="" /></a>-->
                        </li>
                    </ul><!--//slides-->
                </div><!--//item-->

                <div class="item">
                    <ul class="logos">
                        <li class="col-md-2 col-sm-2 col-xs-4">
                            <img class="img-responsive" src="assets/images/awards/award7.jpg"  alt="" />
                        </li>
                        <li class="col-md-2 col-sm-2 col-xs-4">
                            <img class="img-responsive" src="assets/images/awards/award6.jpg"  alt="" />
                        </li>
                        <li class="col-md-2 col-sm-2 col-xs-4">
                            <img class="img-responsive" src="assets/images/awards/award5.jpg"  alt="" />
                        </li>
                        <li class="col-md-2 col-sm-2 col-xs-4">
                            <img class="img-responsive" src="assets/images/awards/award4.jpg"  alt="" />
                        </li>
                        <li class="col-md-2 col-sm-2 col-xs-4">
                            <img class="img-responsive" src="assets/images/awards/award3.jpg"  alt="" />
                        </li>
                        <li class="col-md-2 col-sm-2 col-xs-4">
                            <img class="img-responsive" src="assets/images/awards/award2.jpg"  alt="" />
                        </li>
                    </ul><!--//slides-->
                </div><!--//item-->
            </div><!--//carousel-inner-->
            <a class="left carousel-control" href="#awards-carousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="right carousel-control" href="#awards-carousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>

        </div>
    </section>
</div><!--//content-->
