<div class="content container">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">Components</h1>
            <div class="breadcrumbs pull-right">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-label">You are here:</li>
                    <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
                    <li><a href="#">Shortcodes</a><i class="fa fa-angle-right"></i></li>
                    <li class="current">Icons</li>
                </ul>
            </div><!--//breadcrumbs-->
        </header>
        <div class="page-content">
            <div class="row page-row">
                <aside class="page-sidebar col-md-2 col-sm-3 affix-top">
                    <section class="widget">
                        <ul class="nav">
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="tables.html">Tables</a></li>
                            <li><a href="buttons.html">Buttons</a></li>
                            <li><a href="components.html">Components</a></li>
                            <li class="active"><a href="icons.html">Icons</a></li>
                        </ul>
                    </section><!--//widget-->
                </aside><!--//page-sidebar-->
                <div class="content-wrapper col-md-10 col-sm-9">

                    <h1 class="has-divider text-highlight">Social Media Icons</h1>
                    <div class="page-row">
                        <ul class="social-icons clearfix">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                            <li><a href="#"><i class="fa fa-weibo"></i></a></li>
                            <li><a href="#"><i class="fa fa-renren"></i></a></li>
                        </ul>
                    </div>

                    <h1 class="has-divider text-highlight">369 FontAwsome Icons</h1>
                    <div class="alert alert-info">
                        We use <strong><a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwsome 4.0.3</a></strong> icons in this template. To view the complete set of 369 icons please go to <strong><a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwsome's official website</a></strong>
                    </div> <!--//alert-->
                    <figure>
                        <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">
                            <img class="img-responsive img-thumbnail" src="assets/images/misc/fontawsome-screenshot.png" alt="screenshot"/>
                        </a>
                    </figure>

                    <h1 class="has-divider text-highlight">200 Twitter Bootstrap Icons</h1>
                    <div class="alert alert-info">
                        This template is built on <strong><a href="http://getbootstrap.com/components/" target="_blank">Twitter Bootstrap 3.0</a></strong>. There are 200 icons in Bootstrap you can use in the template <strong><a href="http://getbootstrap.com/components/" target="_blank">View the icons on Bootstrap's official website</a></strong>
                    </div> <!--//alert-->
                    <figure>
                        <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">
                            <img class="img-responsive img-thumbnail" src="assets/images/misc/bootstrap-glyphicons-screenshot.png" alt="screenshot"/>
                        </a>
                    </figure>

                </div><!--//content-wrapper-->
            </div><!--//page-row-->
        </div><!--//page-content-->
    </div><!--//page-->
</div><!--//content-->
