<div class="content container">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">Jobs</h1>
            <div class="breadcrumbs pull-right">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-label">You are here:</li>
                    <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
                    <li class="current">Jobs</li>
                </ul>
            </div><!--//breadcrumbs-->
        </header>
        <div class="page-content">
            <div class="row page-row">
                <div class="jobs-wrapper col-md-8 col-sm-7">
                    <div class="panel panel-default page-row">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a href="job-single.html">Learning Support Assistant</a> <span class="label label-success pull-right">Full Time</span></h3>

                        </div>
                        <div class="panel-body">
                            Job summary, consectetur adipiscing elit. Sed facilisis magna fermentum mauris posuere convallis. Sed fermentum cursus lacinia. Phasellus ac tortor massa. Mauris eget nisi blandit.
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Department:</strong> Computer Science</li>
                            <li class="list-group-item"><strong>Location:</strong> College Green</li>
                            <li class="list-group-item"><strong>Salary:</strong> £19,000 - £21,000</li>
                        </ul>
                        <div class="panel-footer">
                            <div class="row">
                                <ul class="list-inline col-md-8 col-sm-6 col-xs-6">
                                    <li><a href="job-single.html">More details</a></li>
                                </ul>
                                <div class="meta col-md-4 col-sm-6 col-xs-6 text-right">
                                    <small>Posted 3 days ago</small>
                                </div>
                            </div>
                        </div>
                    </div><!--//panel-->
                    <div class="panel panel-default page-row">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a href="job-single.html">Lecturer - Business Studies</a> <span class="label label-success pull-right">Full Time</span></h3>

                        </div>
                        <div class="panel-body">
                            Sed ullamcorper erat non libero porta, vehicula luctus felis porta. Integer lobortis et erat nec feugiat. Vestibulum sapien turpis, consectetur at placerat eget, tristique pellentesque ipsum. Proin non pretium turpis.
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Department:</strong> Business</li>
                            <li class="list-group-item"><strong>Location:</strong> College Green</li>
                            <li class="list-group-item"><strong>Salary:</strong> £35,000 - £45,000 pro rata to hours worked</li>
                        </ul>
                        <div class="panel-footer">
                            <div class="row">
                                <ul class="list-inline col-md-8 col-sm-6 col-xs-6">
                                    <li><a href="job-single.html">More details</a></li>
                                </ul>
                                <div class="meta col-md-4 col-sm-6 col-xs-6 text-right">
                                    <small>Posted 1 week ago</small>
                                </div>
                            </div>
                        </div>
                    </div><!--//panel-->
                    <div class="panel panel-default page-row">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a href="job-single.html">Lecturer - Computer Science</a> <span class="label label-success pull-right">Full Time</span></h3>

                        </div>
                        <div class="panel-body">
                            Sed ullamcorper erat non libero porta, vehicula luctus felis porta. Integer lobortis et erat nec feugiat. Vestibulum sapien turpis, consectetur at placerat eget, tristique pellentesque ipsum. Proin non pretium turpis.
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Department:</strong> Computer Science</li>
                            <li class="list-group-item"><strong>Location:</strong> College Green</li>
                            <li class="list-group-item"><strong>Salary:</strong> £35,000 - £45,000</li>
                        </ul>
                        <div class="panel-footer">
                            <div class="row">
                                <ul class="list-inline col-md-8 col-sm-6 col-xs-6">

                                    <li><a href="job-single.html">More details</a></li>
                                </ul>
                                <div class="meta col-md-4 col-sm-6 col-xs-6 text-right">
                                    <small>Posted 2 days ago</small>
                                </div>
                            </div>
                        </div>
                    </div><!--//panel-->
                    <div class="panel panel-default page-row">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a href="job-single.html">Administrative Assistants</a> <span class="label label-warning pull-right">Part time</span></h3>

                        </div>
                        <div class="panel-body">
                            Sed ullamcorper erat non libero porta, vehicula luctus felis porta. Integer lobortis et erat nec feugiat. Vestibulum sapien turpis, consectetur at placerat eget, tristique pellentesque ipsum. Proin non pretium turpis.
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Department:</strong> Computer Science</li>
                            <li class="list-group-item"><strong>Location:</strong> College Green</li>
                            <li class="list-group-item"><strong>Salary:</strong> £17,500 - £18,500 pro rata to hours worked</li>
                        </ul>
                        <div class="panel-footer">
                            <div class="row">
                                <ul class="list-inline col-md-8 col-sm-6 col-xs-12">

                                    <li><a href="job-single.html">More details</a></li>
                                </ul>
                                <div class="meta col-md-4 col-sm-6 col-xs-12 text-right">
                                    <small>Posted 1 week ago</small>
                                </div>
                            </div>
                        </div>
                    </div><!--//panel-->
                    <ul class="pagination">
                        <li class="disabled"><a href="#">«</a></li>
                        <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul><!--//pagination-->

                </div><!--//jobs-wrapper-->
                <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
                    <section class="widget has-divider">
                        <h3 class="title">Video tour</h3>
                        <iframe class="iframe" src="//www.youtube.com/embed/Ks-_Mh1QhMc?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen=""=""></iframe>
                    </section><!--//widget-->
                    <section class="widget">
                        <h3 class="title">Contact</h3>
                        <p>Suspendisse mollis neque augue, vitae malesuada mi dictum quis. Ut mollis purus vel orci aliquam sagittis. Aliquam erat volutpat. </p>
                        <p class="tel"><i class="fa fa-phone"></i>Tel: 0800 123 4567</p>
                        <p class="email"><i class="fa fa-envelope"></i>Email: <a href="#">enquires@website.com</a></p>
                    </section><!--//widget-->
                </aside>
            </div><!--//page-row-->
        </div><!--//page-content-->
    </div><!--//page-->
</div><!--//content-->
